# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary / Downloaded artifacts
*.zip
*.tar.gz
*.rar
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo
